@import "variables.less";
@import "mixins.less";

// Global Components

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	text-rendering: optimizeLegibility;
}

body {
	.body-font;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
}

body.tune-chill {
	color: @chill-light;
	.hat {
		color: @chill-dark;
		background-color: @chill-light;
	}
}
body.tune-workout {
	color: @workout-light;
	.hat {
		color: @workout-dark;
		background-color: @workout-light;
	}
}
body.tune-hangout {
	color: @hangout-dark;
	.hat {
		color: @hangout-dark;
		background-color: @hangout-light;
	}
}
body.tune-party {
	color: @party-dark;
	.hat {
		color: @party-dark;
		background-color: @party-light;
	}
}

.hat {
	width:100%;
	height:100%;
	height:calc(100% - 1px);
	.mood-font;
	text-transform: uppercase;
	h1 {
		font-size: 20px;
		margin-bottom: 10px;
	}
	h2 {
		.heading-font;
		text-transform: none;
		color: #fff;
		margin-top: 0px;
		margin-bottom: 30px;
		font-size: 24px;
	}
}

h3 {
	.heading-font;
	font-size: 16px;
	line-height: 23px;
	letter-spacing: 0px;
	margin-top: 0;
	margin-bottom: 30px;
}

hr {
	border-color: #CACCD1;
	margin: 0px;
}

.underline-link {
	text-decoration: none;
	color: #fff;
	background-position: 0 93%;
	background-repeat: repeat-x;
	background-size: 100% .40rem;
	background-image: -webkit-linear-gradient(top, transparent 50%, rgba(255,255,255,0.5) 80%);
	background-image: linear-gradient(to bottom, transparent 50%, rgba(255,255,255,0.5) 80%);
}

.underline-link:hover {
	text-decoration: none;
	color: #fff;
	background-position: 0 93%;
	background-repeat: repeat-x;
	background-size: 100% .40rem;
	background-image: -webkit-linear-gradient(top, transparent 50%, rgba(255,255,255,1) 80%);
	background-image: linear-gradient(to bottom, transparent 50%, rgba(255,255,255,1) 80%);
}

.link-workout {
	text-shadow: 0.35rem 0 @workout-light, 0.4rem 0 @workout-light, -0.35rem 0 @workout-light, -0.4rem 0 @workout-light;
}
.link-chill {
	text-shadow: 0.35rem 0 @chill-light, 0.4rem 0 @chill-light, -0.35rem 0 @chill-light, -0.4rem 0 @chill-light;
}
.link-party {
	text-shadow: 0.35rem 0 @party-light, 0.4rem 0 @party-light, -0.35rem 0 @party-light, -0.4rem 0 @party-light;
}
.link-hangout {
	text-shadow: 0.35rem 0 @hangout-light, 0.4rem 0 @hangout-light, -0.35rem 0 @hangout-light, -0.4rem 0 @hangout-light;
}

.song-info-loading {
	padding-top: 20px;
	margin: 0 auto;
	text-align: center;
}

/*
Radio inputs
*/

.radio-inline {
	padding-left: 0px;
}
.radio-inline+.radio-inline {
	margin-left: 0px;
}

div:not(#foo) > input[type='radio'] {
    opacity: 0;
    float: left;
    width: 18px;
	display: none;
}

div:not(#foo) > input[type='radio'] + label {
    margin: 0;
    clear: none;
		.mood-font;
		font-size: 16px;
		font-weight: 500;
    padding: 12px 0 11px 40px;
    cursor: pointer;
}

body.tune-chill div:not(#foo) > input[type='radio'] + label {
    background: url('../img/radio/radio-chill.svg') left center no-repeat;
		background-size: 29px 29px;
}
body.tune-chill div:not(#foo) > input[type='radio']:checked + label {
    background-image: url('../img/radio/radio-chill-selected.svg');
		background-size: 29px 29px;
}
body.tune-party div:not(#foo) > input[type='radio'] + label {
    background: url('../img/radio/radio-party.svg') left center no-repeat;
		background-size: 29px 29px;
}
body.tune-party div:not(#foo) > input[type='radio']:checked + label {
    background-image: url('../img/radio/radio-party-selected.svg');
		background-size: 29px 29px;
}
body.tune-workout div:not(#foo) > input[type='radio'] + label {
    background: url('../img/radio/radio-workout.svg') left center no-repeat;
		background-size: 29px 29px;
}
body.tune-workout div:not(#foo) > input[type='radio']:checked + label {
    background-image: url('../img/radio/radio-workout-selected.svg');
		background-size: 29px 29px;
}
body.tune-hangout div:not(#foo) > input[type='radio'] + label {
    background: url('../img/radio/radio-hangout.svg') left center no-repeat;
		background-size: 29px 29px;
}
body.tune-hangout div:not(#foo) > input[type='radio']:checked + label {
    background-image: url('../img/radio/radio-hangout-selected.svg');
		background-size: 29px 29px;
}

.radio-inline {
	display: block;
}

.options {
	padding: 28px 0px;
}


/*
Influence section
*/
.song-info.chill {
	label.track-checkbox {
		.inner-circle-checked{
			background-color: @chill-light;
		}
		.inner-circle-unchecked{
			border-color: @chill-light;
		}
	}
}
.song-info.hangout {
	label.track-checkbox {
		.inner-circle-checked{
			background-color: @hangout-light;
		}
		.inner-circle-unchecked{
			border-color: @hangout-light;
		}
	}
}

.song-info.workout {
	label.track-checkbox {
		.inner-circle-checked{
			background-color: @workout-light;
		}
		.inner-circle-unchecked{
			border-color: @workout-light;
		}
	}
}

.song-info.party {
	label.track-checkbox {
		.inner-circle-checked{
			background-color: @party-light;
		}
		.inner-circle-unchecked{
			border-color: @party-light;
		}
	}
}

.song-info {
	&:hover{
		cursor: pointer;
	}
	.mood-font;
	table {
		table-layout: fixed;
		border-collapse: separate;
		border-spacing: 0;
	}
	.song-container{
		margin-bottom: 0px;
		display: flex;
		width: 100%;
		.inactive-overlay{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			background-color: rgba(131, 137, 147, 0.25);
		}
		label.track-checkbox {
			z-index: 2;
			margin: 15px;
			height: 36px;
			width: 36px;
			border-radius: 50%;
			background-color: white;
			position: absolute;
			&:hover{
				cursor: pointer;
			}
			.inner-circle-checked{
				height: 30px;
				width: 30px;
				border-radius: 50%;
				margin: 3px;
				img{
					width: 15px;
					height: 12px;
					margin: 10px 7px;
				}					
			}
			.inner-circle-unchecked{
				border: 2px solid;
				background-color: white;
				height: 30px;
				width: 30px;
				margin: 3px;
				border-radius: 50%;
			}

		}		
		.coverart{
			background-size: cover;
			height: 100px;
			width: 100px;
			min-width: 100px;
			border-bottom: solid 1px @gray-light;
			position: relative;

		}
		.divider{
			max-width: 2px;
			background-color: @gray-dark;
			border-top: solid 2px;
			border-bottom: solid 2px;
		}
		.song-preview-area{
			display: flex;
			width:100%;
			position: relative;
		}
		.song-text{
			width: 100%;
			padding: 9px 16px;
			vertical-align: top;
			border-bottom: solid 1px @gray-light;
			table-layout: fixed;
			height: 100px;

			h5, h6{
				margin: 0 0 1px 0;
				color: @gray-dark;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			h6{
				font-weight: 400;
				font-size: 16px;
			}
			h5{
				font-weight: 500;
				font-size: 20px;
			}
			.stricken{
				text-decoration: line-through;
			}

		}
		.preview{
			display: flex;
			height: 12px;
			line-height: 12px;
			font-size: 12px;
			padding-left: 3px;
			margin-top: 18px;
			color: @gray-preview;
		}
		.arrow-right {
			width: 0; 
			height: 0; 
			border-top: 6px solid transparent;
			border-bottom: 6px solid transparent;
			border-left: 7px solid @gray-preview;
			margin-left: 3px;
			margin-right: 7px;
		}
		.arrow-right.chill{
			border-left: 7px solid @chill-light;
		}
		.preview.chill{
			color: @chill-light;
		}
		.arrow-right.party{
			border-left: 7px solid @party-light;
		}
		.preview.party{
			color: @party-light;
		}
		.arrow-right.workout{
			border-left: 7px solid @workout-light;
		}
		.preview.workout{
			color: @workout-light;
		}
		.arrow-right.hangout{
			border-left: 7px solid @hangout-light;
		}
		.preview.hangout{
			color: @hangout-light;
		}
	}
}

/*
Submit section
*/
.row.submit{
	padding: 33px 0px;
}

.submit-button{
	height: 50px;
	width: 209px;
	font-size: 20px;
	font-weight: 500;
	border-radius: 6px;
	border: none;
	color: white;
}

.button-wrapper{
	text-align: center;
}

.submit-button.chill{
	background-color: @chill-light;
}
.submit-button.party{
	background-color: @party-light;
}
.submit-button.workout{
	background-color: @workout-light;
}
.submit-button.hangout{
	background-color: @hangout-light;
}

.row.footer{
	padding: 24px 0;
	.spotify-logo{
		margin-left: 14px;
		margin-top: -1px;
	}
}

.footer-text{
	font-size: 12px;
	color: @gray-dark;
	font-weight: 500;
	height: 24px;
	line-height: 24px;
}


/*
Media Queries
*/

@media only screen and (min-width:600px) {

	.options {
		padding: 40px 0px 50px 0px;
	}

	.row.moods{
		padding: 33px 0;
	}

	.radio-inline+.radio-inline {
		margin-left: 20px;
	}
	.radio-input {
		margin-top: 0px;
	}

	div:not(#foo) > input[type='radio'] + label {
			font-size: 26px;
	    padding: 12px 0 11px 38px;
	    background: url('../img/radio-chill.svg') left center no-repeat;
	}

	.underline-link {
		background-image: -webkit-linear-gradient(top, transparent 50%, rgba(255,255,255,0.5) 50%);
		background-image: linear-gradient(to bottom, transparent 50%, rgba(255,255,255,0.5) 50%);
	}
	.underline-link:hover {
		background-image: -webkit-linear-gradient(top, transparent 50%, rgba(255,255,255,1) 50%);
		background-image: linear-gradient(to bottom, transparent 50%, rgba(255,255,255,1) 50%);
	}

	.hat {
		h1 {
			font-size: 58px;
			margin-bottom: 20px;
		}
		h2 {
			margin-bottom: 50px;
			font-size: 35px;
		}
	}

	.radio-inline {
		display: inline-block;
	}

	.instructions-line2{
			margin-top: 30px;
	}
}

@media only screen and (min-width:768px) {
	h3 {
		margin-bottom: 0px;
	}
}

@media only screen and (min-width:992px) {
	.options {
		padding: 44px 0px 44px 0px;
	}
	.row.submit{
		padding: 108px 0 32px 0;
	}
	.submit-button{
		height: 67px;
		width: 335px;
		font-size: 25px;
	}
	h3 {
		.heading-font;
		font-size: 20px;
	}
	h3.radio-question{
		margin: 0;
		height: 60px;
		line-height: 30px;
	}
}
