// Variables

@chill-light: #0066FF;
@chill-dark: #0000FE;
@party-light: #FFE001;
@party-dark: #FFAA01;
@workout-light: #FF73FF;
@workout-dark: #FF00FF;
@hangout-light: #2FE7B1;
@hangout-dark: #00C98A;
@background: #131D31;
@gray: #999999;