#login, #loggedin {
  display: none;
}
.song, .artist, .album{
  height:40px;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.track{
  border-bottom: solid;
  border-width: 1px;
}
.header{
  border-bottom: solid;
  border-width: 2px;
}
