h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: 'Libre Baskerville', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
}
body.tune-chill {
  color: #0066FF;
}
body.tune-chill .hat {
  color: #0000FE;
  background-color: #0066FF;
}
body.tune-workout {
  color: #FF73FF;
}
body.tune-workout .hat {
  color: #FF00FF;
  background-color: #FF73FF;
}
body.tune-hangout {
  color: #00C98A;
}
body.tune-hangout .hat {
  color: #00C98A;
  background-color: #2FE7B1;
}
body.tune-party {
  color: #FFAA01;
}
body.tune-party .hat {
  color: #FFAA01;
  background-color: #FFE001;
}
.hat {
  width: 100%;
  height: 100%;
  height: calc(99%);
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
}
.hat h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
.hat h2 {
  font-family: 'PT Serif', serif;
  text-transform: none;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 24px;
}
h3 {
  font-family: 'PT Serif', serif;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0px;
}
hr {
  border-color: #CACCD1;
  margin-bottom: 0px;
}
.underline-link {
  text-decoration: none;
  color: #fff;
  background-position: 0 93%;
  background-repeat: repeat-x;
  background-size: 100% .40rem;
  background-image: -webkit-linear-gradient(top, transparent 50%, rgba(255, 255, 255, 0.5) 80%);
  background-image: linear-gradient(to bottom, transparent 50%, rgba(255, 255, 255, 0.5) 80%);
}
.underline-link:hover {
  text-decoration: none;
  color: #fff;
  background-position: 0 93%;
  background-repeat: repeat-x;
  background-size: 100% .40rem;
  background-image: -webkit-linear-gradient(top, transparent 50%, #ffffff 80%);
  background-image: linear-gradient(to bottom, transparent 50%, #ffffff 80%);
}
.link-workout {
  text-shadow: 0.35rem 0 #FF73FF, 0.4rem 0 #FF73FF, -0.35rem 0 #FF73FF, -0.4rem 0 #FF73FF;
}
.link-chill {
  text-shadow: 0.35rem 0 #0066FF, 0.4rem 0 #0066FF, -0.35rem 0 #0066FF, -0.4rem 0 #0066FF;
}
.link-party {
  text-shadow: 0.35rem 0 #FFE001, 0.4rem 0 #FFE001, -0.35rem 0 #FFE001, -0.4rem 0 #FFE001;
}
.link-hangout {
  text-shadow: 0.35rem 0 #2FE7B1, 0.4rem 0 #2FE7B1, -0.35rem 0 #2FE7B1, -0.4rem 0 #2FE7B1;
}
.song-info-loading {
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
}
/*
Radio inputs
*/
.radio-inline {
  padding-left: 0px;
}
.radio-inline + .radio-inline {
  margin-left: 0px;
}
div:not(#foo) > input[type='radio'] {
  opacity: 0;
  float: left;
  width: 18px;
  display: inline;
}
div:not(#foo) > input[type='radio'] + label {
  margin: 0;
  clear: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 0 11px 40px;
  cursor: pointer;
}
body.tune-chill div:not(#foo) > input[type='radio'] + label {
  background: url('../img/radio/radio-chill.svg') left center no-repeat;
  background-size: 29px 29px;
}
body.tune-chill div:not(#foo) > input[type='radio']:checked + label {
  background-image: url('../img/radio/radio-chill-selected.svg');
  background-size: 29px 29px;
}
body.tune-party div:not(#foo) > input[type='radio'] + label {
  background: url('../img/radio/radio-party.svg') left center no-repeat;
  background-size: 29px 29px;
}
body.tune-party div:not(#foo) > input[type='radio']:checked + label {
  background-image: url('../img/radio/radio-party-selected.svg');
  background-size: 29px 29px;
}
body.tune-workout div:not(#foo) > input[type='radio'] + label {
  background: url('../img/radio/radio-workout.svg') left center no-repeat;
  background-size: 29px 29px;
}
body.tune-workout div:not(#foo) > input[type='radio']:checked + label {
  background-image: url('../img/radio/radio-workout-selected.svg');
  background-size: 29px 29px;
}
body.tune-hangout div:not(#foo) > input[type='radio'] + label {
  background: url('../img/radio/radio-hangout.svg') left center no-repeat;
  background-size: 29px 29px;
}
body.tune-hangout div:not(#foo) > input[type='radio']:checked + label {
  background-image: url('../img/radio/radio-hangout-selected.svg');
  background-size: 29px 29px;
}
.radio-inline {
  display: block;
}
/*
Influence section
*/
.song-info.chill label.track-checkbox .inner-circle-checked {
  background-color: #0066FF;
}
.song-info.chill label.track-checkbox .inner-circle-unchecked {
  border-color: #0066FF;
}
.song-info.hangout label.track-checkbox .inner-circle-checked {
  background-color: #2FE7B1;
}
.song-info.hangout label.track-checkbox .inner-circle-unchecked {
  border-color: #2FE7B1;
}
.song-info.workout label.track-checkbox .inner-circle-checked {
  background-color: #FF73FF;
}
.song-info.workout label.track-checkbox .inner-circle-unchecked {
  border-color: #FF73FF;
}
.song-info.party label.track-checkbox .inner-circle-checked {
  background-color: #FFE001;
}
.song-info.party label.track-checkbox .inner-circle-unchecked {
  border-color: #FFE001;
}
.song-info {
  font-family: 'Source Sans Pro', sans-serif;
}
.song-info:hover {
  cursor: pointer;
}
.song-info table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
}
.song-info .song-container {
  max-width: 620px;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
}
.song-info .song-container .inactive-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(131, 137, 147, 0.3);
}
.song-info .song-container label.track-checkbox {
  z-index: 2;
  margin: 15px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}
.song-info .song-container label.track-checkbox:hover {
  cursor: pointer;
}
.song-info .song-container label.track-checkbox .inner-circle-checked {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 3px;
}
.song-info .song-container label.track-checkbox .inner-circle-checked img {
  width: 15px;
  height: 12px;
  margin: 10px 7px;
}
.song-info .song-container label.track-checkbox .inner-circle-unchecked {
  border: 2px solid;
  background-color: white;
  height: 30px;
  width: 30px;
  margin: 3px;
  border-radius: 50%;
}
.song-info .song-container .coverart {
  background-size: cover;
  height: 100px;
  width: 100px;
  min-width: 100px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: solid 2px;
  border-right: none;
  position: relative;
}
.song-info .song-container .divider {
  max-width: 2px;
  background-color: #4C4F58;
  border-top: solid 2px;
  border-bottom: solid 2px;
}
.song-info .song-container .song-preview-area {
  display: flex;
  width: 100%;
  max-width: 620px;
  position: relative;
}
.song-info .song-container .song-text {
  width: 100%;
  padding: 11px 16px;
  vertical-align: top;
  border-top: solid 2px;
  border-bottom: solid 2px;
}
.song-info .song-container .song-text h5,
.song-info .song-container .song-text h6 {
  margin: 0 0 3px 0;
  font-size: 20px;
  color: #4C4F58;
}
.song-info .song-container .song-text h6 {
  font-weight: 400;
}
.song-info .song-container .song-text .stricken {
  text-decoration: line-through;
}
.song-info .song-container .preview {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: solid 2px;
  border-left: none;
  vertical-align: top;
  padding: 10px;
}
.song-info .song-container .preview button {
  background: none;
  border: none;
  width: 82px;
  font-size: 11px;
  padding: 0;
}
/*
Media Queries
*/
@media only screen and (min-width: 600px) {
  .options {
    padding: 18px 0px 12px 0px;
  }
  .radio-inline + .radio-inline {
    margin-left: 20px;
  }
  .radio-input {
    margin-top: 12px;
  }
  div:not(#foo) > input[type='radio'] + label {
    font-size: 26px;
    padding: 12px 0 11px 38px;
    background: url('../img/radio-chill.svg') left center no-repeat;
  }
  .underline-link {
    background-image: -webkit-linear-gradient(top, transparent 50%, rgba(255, 255, 255, 0.5) 50%);
    background-image: linear-gradient(to bottom, transparent 50%, rgba(255, 255, 255, 0.5) 50%);
  }
  .underline-link:hover {
    background-image: -webkit-linear-gradient(top, transparent 50%, #ffffff 50%);
    background-image: linear-gradient(to bottom, transparent 50%, #ffffff 50%);
  }
  .hat h1 {
    font-size: 58px;
    margin-bottom: 20px;
  }
  .hat h2 {
    margin-bottom: 50px;
    font-size: 35px;
  }
  .radio-inline {
    display: inline-block;
  }
}
@media only screen and (min-width: 992px) {
  .options {
    padding: 28px 0px 20px 0px;
  }
  h3 {
    font-family: 'PT Serif', serif;
    font-size: 20px;
  }
}
