<!doctype html>
<html>
  <head>
    <title>Build personalized playlists for your Spotify account.</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/index.css">
  </head>
  <body class="home">
  	<div class="container-fluid">
      <div id="login">
    		<header>
    			<h1>Pick a playlist mood to get started.</h1>
    		</header>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="playlist-option">
              <a href="/login?pl=chill" class="btn btn-mood" id="btn-chill"><b>Chill</b></a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="playlist-option">
              <a href="/login?pl=party" class="btn btn-mood" id="btn-party"><b>Party</b></a>
            </div>
          </div>
        </div>
        <div class="row">
           <div class="col-xs-12 col-md-6">
            <div class="playlist-option">
              <a href="/login?pl=workout" class="btn btn-mood" id="btn-workout"><b>Workout</b></a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="playlist-option">
              <a href="/login?pl=hangout" class="btn btn-mood" id="btn-hangout"><b>Hangout</b></a>
             </div> 
          </div>
        </div>
      </div>
  	</div>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="../static/js/index.js"></script>
  </body>
</html>
