<!doctype html>
<html>
  <head>
    <title>Build personalized playlists for your Spotify account.</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>
  <body class="home">
  	<div class="container">
      <div id="login">
    		<header>
    			<h1>What kind of playlist do you want?</h1>
    		<header>
        <div class="playlist-option well">
          <a href="/login?pl=chill" class="btn btn-primary">Create a <b>Chill</b> Playlist</a>
        </div>
        <div class="playlist-option well">
          <a href="/login?pl=party" class="btn btn-primary">Create a <b>Party</b> Playlist</a>
        </div>
        <div class="playlist-option well">
          <a href="/login?pl=workout" class="btn btn-primary">Create a <b>Workout</b> Playlist</a>
        </div>
        <div class="playlist-option well">
          <a href="/login?pl=hangout" class="btn btn-primary">Create a <b>Hangout</b> Playlist</a>
        </div>
      </div>
      <div id="loggedin">
        <div id="user-profile">
        </div>
        <button class="btn btn-default" id="build-playlist">Build a playlist from your library</button>
      </div>
  	</div>

  	<div class="container">
  		<div id="loading-playlist" class="row hidden">
  			BUILDING YOU A PLAYLIST...
  		</div>
  		<button class="btn btn-default hidden" id="export-playlist">Export to Spotify.</button>
  		<div id="exporting-complete" class="row hidden">EXPORTED!</div>
  		<div id="playlist-tracks" class="hidden">
  			<div class="header row">
  				<div class="col-xs-4">SONG</div>
  				<div class="col-xs-4">ARTIST</div>
  				<div class="col-xs-4">ALBUM</div>
  			</div>
  		</div>
  	</div>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="../static/js/index.js"></script>
  </body>
</html>
