<!doctype html>
<html>
  <head>
    <title>Tune</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>
  <body class="tune">
  	<div class="container">
      We've found some of your top tracks to use to influence your playlist. Make any adjustments you want below.
  	</div>

    <div id="loggedin">
      <div id="user-profile">
      </div>
      <button class="btn btn-default" id="go-to-playlist">Build a playlist from your library</button>
    </div>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="../static/js/tune.js"></script>
  </body>
</html>
