<!doctype html>
<html>
  <head>
    <title>Tune</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>
  <body class="tune">
    <header>
      <h1 class="pl-title">A {{ type }} playlist</h1>
      <h3>Tweak the options below, or <a href="#">make your playlist now</a></h3>
    </header>
    <section class="settings">
      <p>What kind of <i>{{ type }}</i> are you looking for?</p>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
          {{ tuners[0] }}
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked>
          {{ tuners[1] }}
        </label>
      </div>
      <div class="radio disabled">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
          {{ tuners[2] }}
        </label>
      </div>
    </section>

    <div id="loggedin">
      <div id="user-profile">
      </div>
      <button class="btn btn-default" id="go-to-playlist">Make my playlist</button>
    </div>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="../static/js/tune.js"></script>
  </body>
</html>
