<!doctype html>
<html>
  <head>
    <title>Tune</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/tune.css">
  </head>
  <body class="tune">
    <div class="hat hat-{{type}}">
      <div class="container">
        <div class="row">
          <h1 class="pl-title"><b>A {{ type }} playlist</b></h1>
          <h3>Tweak the options below, or <a class="underline-link link-{{type}}" href="#">make your playlist now.</a></h3>
        </div>
      </div>
    </div>
    <div class="settings">
      <p>What kind of <i>{{ type }}</i> are you looking for?</p>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
          {{ tuners[0] }}
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked>
          {{ tuners[1] }}
        </label>
      </div>
      <div class="radio disabled">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
          {{ tuners[2] }}
        </label>
      </div>
    </div>
    <div class="song-info-loading">
      Loading...
    </div>
    <div class="influencers hidden">
      <p>These songs will be used as input to make your playlist. Uncheck any you don’t want us to use.</p>
      <div class="song-info">
      </div>
    </div>

    <div id="loggedin">
      <div id="user-profile">
      </div>
      <button class="btn btn-default" id="go-to-playlist">Make my playlist</button>
    </div>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="../static/js/tune.js"></script>
  </body>
</html>
